annotated-types==0.7.0 ; python_version >= "3.11" and python_version < "4.0"
anyio==4.13.0 ; python_version >= "3.11" and python_version < "4.0"
click==8.3.3 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0" and (platform_system == "Windows" or sys_platform == "win32")
fastapi==0.115.14 ; python_version >= "3.11" and python_version < "4.0"
h11==0.16.0 ; python_version >= "3.11" and python_version < "4.0"
httptools==0.7.1 ; python_version >= "3.11" and python_version < "4.0"
idna==3.13 ; python_version >= "3.11" and python_version < "4.0"
pydantic-core==2.46.3 ; python_version >= "3.11" and python_version < "4.0"
pydantic-settings==2.14.0 ; python_version >= "3.11" and python_version < "4.0"
pydantic==2.13.3 ; python_version >= "3.11" and python_version < "4.0"
python-dotenv==1.2.2 ; python_version >= "3.11" and python_version < "4.0"
pyyaml==6.0.3 ; python_version >= "3.11" and python_version < "4.0"
starlette==0.46.2 ; python_version >= "3.11" and python_version < "4.0"
typing-extensions==4.15.0 ; python_version >= "3.11" and python_version < "4.0"
typing-inspection==0.4.2 ; python_version >= "3.11" and python_version < "4.0"
uvicorn==0.32.1 ; python_version >= "3.11" and python_version < "4.0"
uvloop==0.22.1 ; python_version >= "3.11" and python_version < "4.0" and sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy"
watchfiles==1.1.1 ; python_version >= "3.11" and python_version < "4.0"
websockets==16.0 ; python_version >= "3.11" and python_version < "4.0"
